<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.tilks.arscmerge" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:extractNativeLibs="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.tilks.arsc.main.MainActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tilks.arsc.main.SettingsActivity"/>
        <service android:name="com.tilks.arsc.main.MergeService"/>
        <activity android:name="com.nabinbhandari.android.permissions.PermissionsActivity" android:theme="@style/Permissions.TransparentTheme"/>
        <activity android:label="@string/title_apkmirror" android:name="com.tilks.apkmirror.MainActivity" android:windowSoftInputMode="stateHidden"/>
        <service android:name="com.tilks.apkmirror.MergeService"/>
    </application>
</manifest>